/* You can add global styles to this file, and also import other style files */


body {
    margin-top: 0;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    // background: rgb(73,62,251);
    // background: linear-gradient(90deg, rgba(73,62,251,1) 0%, rgba(122,122,255,1) 52%, rgba(170,239,252,1) 100%);
}